<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post"> 
<div class="form-group">    
  <label for="" class="form-label">Title</label>
  <input type="text" name="postTitle" id="" class="form-control" placeholder="" >
  <label for="" class="form-label">Post</label>
  <textarea name="postBody"cols="30" rows="10" class="form-control"></textarea>
 
</div>
<button type="submit" class="btn btn-primary ">Submit</button>
     </form>

   <!-- <label for="">Title <input type="text" name="textValue"><br></label><br> 
 <label for="">Post  </label> <br>
  <textarea name="postText"  cols="100" rows="6"></textarea>
    <br>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>


</div> -->

<%- include("partials/footer") -%>